@model SIAProjeto.ViewModels.TiposUtilizadorViewModel

@{
    ViewBag.Title = "Detalhes do Tipo de Utilizador";
}

<div class="row bg-title">
    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Detalhes do Tipo de Utilizador</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="white-box">
            <div class="form-horizontal form-material">
                <div class="form-group">
                    <label class="col-md-12">Nome</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.TipoUtilizador.nome)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Permissões Concedidas</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Nome")
                            </th>
                            <th>
                                @Html.DisplayName("Descrição")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PermissoesList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.descricao)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>