@model IEnumerable<SIAProjeto.Models.TipoUtilizador>

@{
    ViewBag.Title = "Tipos de Utilizador";
}

<h2>Tipos de Utilizador</h2>

<p>
    @Html.ActionLink("Criar Novo Tipo de Utilizador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idTipoUtilizador }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idTipoUtilizador }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idTipoUtilizador })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regressar", "Index", "User")
</div>