@model IEnumerable<SIAProjeto.Models.TipoUtilizador>

@{
    ViewBag.Title = "Tipos de Utilizador";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Tipos de Utilizador</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title">Tipos de Utilizador Disponíveis</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Nome")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nome)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.idTipoUtilizador }) |
                                    @Html.ActionLink("Detalhes", "Details", new { id = item.idTipoUtilizador }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idTipoUtilizador })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>