@model SIAProjeto.Models.Utilizador

@{
    ViewBag.Title = "Editar Dados Pessoais";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Editar Dados Pessoais</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="white-box">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal form-material">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.idUtilizador)

                    <div class="form-group">
                        <label class="col-md-12">Novo Nome Completo</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                            @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12">Nova Palavra-Passe</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="submit" value="Atualizar Dados Pessoais" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>