@model SIAProjeto.ViewModels.UserViewModel

@{
    ViewBag.Title = "Página Principal";
}

<div class="row bg-title">
    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Bem Vindo, @Model.Utilizador.nome</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Perfil</h3>
            <div class="form-horizontal form-material">
                <div class="form-group">
                    <label class="col-md-12">@Html.DisplayName("Nome")</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.Utilizador.nome)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">@Html.DisplayName("E-mail")</label>
                    <div class="col-md-12">
                        @Html.DisplayFor(model => model.Utilizador.email)
                    </div>
                </div>

                @Html.ActionLink("Editar Perfil", "Edit", new { }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>