@model SIAProjeto.Models.Tecnica

@{
    ViewBag.Title = "DetalhesTecnicas";
}

<h2>DetalhesTecnicas</h2>
<!-- listar os quadrantes -->
<div>
    <h4>Tecnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUtilizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUtilizador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTecnica }) |
    @Html.ActionLink("Back to List", "Index")
</p>
