@model SIAProjeto.ViewModels.TecnicasViewModel

@{
    ViewBag.Title = "Editar Técnica";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Editar Técnica @Model.TecnicasList.First().nome</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="white-box">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal form-material">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.TecnicasList.First().idTecnica)

                    <div class="form-group">
                        @Html.Label("Nome", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => Model.TecnicasList.First().nome, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                            @Html.ValidationMessageFor(model => Model.TecnicasList.First().nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="submit" value="Guardar Técnica" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    @foreach (var q in Model.QuadrantesList)
    {
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title">Quadrante @Html.DisplayName(q.nome)</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Texto")
                                </th>
                                <th>
                                    @Html.DisplayName("Grau de Importância")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pq in Model.PerguntasQuadrantesList.Where(pq => pq.idQuadrante == q.idQuadrante))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.PerguntasList.Single(p => p.idPergunta == pq.idPergunta).texto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.PerguntasList.Single(p => p.idPergunta == pq.idPergunta).importancia)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-actions no-color">
                    @Html.ActionLink("Editar Quadrante", "EditarTecnica", new { id = q.idQuadrante }) |
                    @Html.ActionLink("Eliminar Quadrante", "DeleteTecnicas", new { q.idQuadrante })
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
