@model SIAProjeto.ViewModels.TecnicasViewModel

@{
    ViewBag.Title = "Gestor de Técnicas";
}

<div class="row bg-title">
    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Gestor de Técnicas</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total de Técnicas Criadas</h3>
            <ul class="list-inline two-part">
                <li>
                    @*<div id="sparklinedash"></div>*@
                </li>
                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">@Model.TecnicasList.Count</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total de Quadrantes Criados</h3>
            <ul class="list-inline two-part">
                <li>
                    @*<div id="sparklinedash2"></div>*@
                </li>
                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">@Model.QuadrantesList.Count</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total de Perguntas Criadas</h3>
            <ul class="list-inline two-part">
                <li>
                    @*<div id="sparklinedash3"></div>*@
                </li>
                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">@Model.PerguntasList.Count</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Técnicas Recentemente Criadas</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Nome")
                            </th>
                            <th>
                                @Html.DisplayName("Data de Criação")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TecnicasList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dataCriacao)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.idTecnica }) |
                                    @Html.ActionLink("Detalhes", "Details", new { id = item.idTecnica }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idTecnica })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-actions no-color">
                @Html.ActionLink("Nova Técnica", "Create", new { }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Quadrantes Recentemente Criados</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Nome")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.QuadrantesList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nome)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "EditQuadrante", new { id = item.idQuadrante }) |
                                    @Html.ActionLink("Detalhes", "DetailsQuadrante", new { id = item.idQuadrante }) |
                                    @Html.ActionLink("Eliminar", "DeleteQuadrante", new { id = item.idQuadrante })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-actions no-color">
                <a href="/Tecnicas/CreateQuadrante" class="btn btn-success">Novo Quadrante</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Perguntas Recentemente Criadas</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Texto")
                            </th>
                            <th>
                                @Html.DisplayName("Importância")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PerguntasList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.texto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.PerguntaImportancias[item.importancia])
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "EditPergunta", new { id = item.idPergunta }) |
                                    @Html.ActionLink("Eliminar", "DeletePergunta", new { id = item.idPergunta })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-actions no-color">
                <a href="/Tecnicas/CreatePergunta" class="btn btn-success">Nova Pergunta</a>
            </div>
        </div>
    </div>
</div>