@model IEnumerable<SIAProjeto.Models.Tecnica>

@{
    ViewBag.Title = "Gestor de Técnicas";
}

<h2>Gestor de Técnicas</h2>

<p>
    @Html.ActionLink("Criar Nova Técnica", "Create")
</p>
<p>
    Total de Técnicas Criadas: @ViewBag.TotalTecnicas
</p>
<p>
    Total de Quadrantes Criados: @ViewBag.TotalQuadrantes
</p>
<p>
    Total de Perguntas Criadas: @ViewBag.TotalPerguntas
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.ActionLink("Editar Técnica", "EditarTecnica", new { id=item.idTecnica }) |
            @Html.ActionLink("Detalhes da Técnica", "DetalhesTecnicas", new { id=item.idTecnica }) |
            @Html.ActionLink("Eliminar Técnica", "DeleteTecnicas", new { id=item.idTecnica })
        </td>
    </tr>
}

</table>
