@model IEnumerable<SIAProjeto.Models.Tecnica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <label>Total Técnicas: </label> @ViewBag.TotalTecnicas
    <label>Total Perguntas</label> @ViewBag.TotalPerguntas
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUtilizador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUtilizador)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditarTecnica", new { id=item.idTecnica }) |
            @Html.ActionLink("Details", "DetalhesTecnicas", new { id=item.idTecnica }) |
            @Html.ActionLink("Delete", "DeleteTecnicas", new { id=item.idTecnica })
        </td>
    </tr>
}

</table>
