@model IEnumerable<SIAProjeto.Models.Pergunta>

@{
    ViewBag.Title = "ListPerguntas";
}

<h2>ListPerguntas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importancia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importancia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPergunta }) |
            @Html.ActionLink("Ver detalhes da Pergunta", "Details", new { id=item.idPergunta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPergunta })
        </td>
    </tr>
}

</table>
